/* Author: Aaron Scher
 */
 html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14pt;
/*   border: 1px solid black; /* width, style, colour */
 padding: 15px;
  margin: 0; 

}

#main{
    margin-left: 340px; 
    transition: margin-left .5s;
}

/* https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp
 */
 
 .sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background: rgb(245,245,245);
  overflow-y: auto;
  overflow: scroll; 
  padding: 5px; 
  transition: 0.3s;

  /* new things: */
  overflow-x: hidden;
  transition: 0.5s; 
}

/* New thing: Position and style the close button (top right corner) */
 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
} 

/* New thing: Position and style the close button (top right corner) */

/* The button used to open the sidebar */
.openbtn {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 340px;
  float: right;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 1;
}

.openbtn:hover {
  background-color: #444;
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.imageOverlay {
  position: relative;
  display: inline;
 
}
.imtip {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.imageBasic {
   max-width: 600px; 
  width: 100%;
  object-fit: contain; 
  height: auto; 
}


#grid-container-inputs{
  display: flex;
  flex-wrap: wrap-reverse;
 }

 #column1{
   padding:0 15px;
 }

.textInput {
  width: 45px;
  padding: 2.5px 2.5px;
/*   font-size: 80%;
 */  border: 1px solid;
  border-color: gray; 
  background-color: white;
  border-radius: 5px;
}

.textInput:hover {
    box-shadow: 2px 2px darkgrey;
}

.pullDownMenu{
  border-color: gray; 
  background-color: white;
  border-radius: 5px;
  padding: 2.5px;
}

.pullDownMenu:hover {
    box-shadow: 2px 2px darkgrey;
}

.variableLabel {
  padding: 5px;
  /* font-size: 90%; */
}

.variableSubTitle {
  padding: 5px;
  font-weight: bold;
}

.column {
  float: left;
  width: 280px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container-plots {
  justify-content: start;
  display: grid;
 grid-template-columns: repeat(auto-fill, 300px);
}

.plotStyle {
  width: 300px; 
  height: 320px; 
}

.buttonStyle1 {
  display: block
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  background-color: #4CAF50;
  font-size: 15px;
  color: white;
  border: none;
  padding: 10px 10px;    
  border-radius: 10px;
  box-shadow: 0 4px #999;
  outline: none; 
}

.buttonStyle1:hover {
  background-color: #3e8e41;
  border: none;
}

.buttonStyle1:active {
  background-color: #3e8e41;
 box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.equationStyle {
  font-family: 'Times New Roman', Times, serif;
}

#resultsMessage{
font-family:'Times New Roman', Times, serif
}

#calculatorIcon{
  width: 20px;
  padding: 0; 
  vertical-align:middle;
  transition: width .2s;
}

#calculatorIcon:hover{
  width: 23px;
}


#resonatorCalculator{
    display:in-block;
  box-sizing: border-box;
  border: 2px solid darkolivegreen;
  border-radius: 25px;
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px; 
  padding: 23px; 
  padding-top: 0; 

}



.buttonStyle2 {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px; 
 border:0.15em solid #CCCCCC;
  font-weight:400;
  font-size: 15px;
  color:#000000;
  padding:0.3em 1.45em;    
  border-radius: 10px;
  text-align:center;
  position: relative;
 outline: none; 
 /*  font-family:'Segoe UI','Roboto',sans-serif; */ */
}

.buttonStyle2:hover {
  border-color:#7a7a7a;

}

.buttonStyle2:active {
  background-color:#999999;
}

#lccSeriesButtonDisplayArea{
  color: blue;
  display: none; 
}

#lccLCCButtonDisplayArea{
  color: red;
  display:none; 
}


.imageRow{
  display: flex; 
   overflow: auto;
}

.imageColumn{
padding: 0;
 align-self: flex-end;
}

.image{
  height:200px;
}

/* #inputOutputPowerPlot{
  display: none; 
} */